.menu-btn {
    display: none;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 46px;

    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 14px;

    color: #fff;
    font-size: 20px;

    cursor: pointer;
    transition: .3s;
}

.menu-btn:hover {
    color: #00ff88;
    border-color: #00ff88;
    box-shadow: 0 0 18px rgba(0, 255, 136, .35);
    transform: scale(1.05);
}

.menu-btn:active {
    transform: scale(.95);
}

@media (max-width:768px) {

    .menu-btn {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;

        position: absolute;
        top: 75px;
        right: 15px;

        width: 140px;

        padding: 10px;

        background: rgba(12, 12, 12, 0.74);
        backdrop-filter: blur(18px);

        border: 1px solid rgba(250, 250, 250, 0.18);
        border-radius: 18px;

        box-shadow:
            0 15px 35px rgba(0, 0, 0, .55),
            0 0 20px rgba(0, 255, 136, .12);

        animation: menuOpen .25s ease;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        list-style: none;
    }

    .nav-links a {
        display: flex;
        align-items: center;

        padding: 14px 16px;

        color: #fff;
        border-radius: 12px;

        transition: .25s;
    }

    .nav-links a:hover {
        background: rgba(9, 163, 224, 0.12);
        color: #ffffff;
        padding-left: 22px;
    }

}

@media (max-width: 768px) {

    .section {
        padding: 70px 0;
    }

    .container {
        padding: 0 16px;
    }

    .title {
        font-size: 30px;
        line-height: 1.2;
    }

    .subtitle {
        font-size: 16px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .btn,
    .btn-outline {
        width: 100%;
        max-width: 240px;
        text-align: center;
    }

    .about-grid {
        flex-direction: column;
        gap: 24px;
        align-items: stretch;
    }

    /* =========================
       TERMINAL
    ========================= */

    .terminal {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        padding: 16px;
        border-radius: 18px;
        border: 1px solid rgba(255, 255, 255, .08);
        background: rgba(15, 15, 19, .95);
        text-align: left;
    }

    .terminal-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .terminal-title {
        color: #9ca3af;
        /* Cor do "Sobre Mim" */
        font-size: 16px;
    }

    .label {
        display: block;
        color: #38bdf8;
        /* Cor dos títulos </> */
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 8px;
        text-align: left;
    }

    .value {
        color: #ff3b3b;
        /* Cor do texto principal */
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
    }

    .value span {
        color: #00ff88;
        /* Cor do texto entre () */
    }

    .Habilidades {
        text-align: left;
    }

    .Habilidades p {
        color: #fdba00;
        /* Cor das habilidades */
        margin: 8px 0;
        padding: 0;
        font-size: 15px;
        line-height: 1.6;
    }

    .cursor {
        color: #ffffff;
    }

    /* =========================
       FOTO
    ========================= */

    .about .profile {
        padding: 10px;
        max-width: 360px;
        margin: 0 auto;
    }

    .about .profile img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        border-radius: 20px;
    }

    /* =========================
       TECNOLOGIAS
    ========================= */

    .tech-frameworks--ecnologias {
        font-size: 16px;
    }

    .tech-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .tech-item i {
        font-size: 56px;
    }



    /* =========================
       CARROSSEL MOBILE
    ========================= */
    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: min(85vw, 260px);
        /* Aumentei levemente a largura para dar mais respiro */
        height: auto;
        /* Deixa a altura flexível para o conteúdo caber */
        min-height: 390px;
        /* Garante uma altura mínima para manter o design padrão */
        padding: 16px;
        /* Mais espaço interno para os botões não colarem na borda */
        border-radius: 18px;
        background: #0e0d0d;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* overflow: hidden; -> Remova ou comente isso se os botões sumirem */
        transition: transform .4s ease, opacity .4s ease;
    }

    #projects h2 {
        font-size: 40px;
        border-bottom: 2px solid #00ff88;
        text-align: center;
        margin-bottom: 20px;
    }

    .carousel {
        width: 100%;
        height: 470px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-track {
        position: relative;
        width: 100%;
        height: 420px;
        touch-action: pan-y;
        user-select: none;
        perspective: 1000px;
    }


    .project-links {
        display: flex;
        font-size: 12px;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: auto;
    }

    .project-links span {
        flex: 1;
        font-size: 10px;
        padding: 10px;
        white-space: nowrap;
    }


    .card img {
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 12px;
    }

    .card h3 {
        margin-top: 12px;
        color: #00ff88;
        font-size: 20px;
        line-height: 1.2;
        white-space: nowrap;
    }

    .card p {
        margin-top: -15px;
        margin-bottom: 12px;
        color: #c7c7c7;
        border: 2px solid #8491b41c;
        background: #1a1a1a;
        padding: 8px;
        font-size: 14px;
        line-height: 1.4;
    }

    .project-tech {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 0 0 18px;
        
    }

    .project-tech i {
        font-size: 26px;
        transition: .3s;
        margin-top: -10px;
    }

    .project-tech .fa-html5 {
        color: #E34F26;
    }

    .project-tech .fa-css3-alt {
        color: #1572B6;
    }

    .project-tech .fa-js {
        color: #F7DF1E;
    }

    .project-tech .fa-react {
        color: #61DAFB;
    }

    /* Tablets */
    @media (max-width: 768px) {
        .project-tech {
            gap: 12px;
            margin: 12px 0 18px;
        }

        .project-tech i {
            font-size: 22px;
        }
    }

    /* Celulares */
    @media (max-width: 480px) {
        .project-tech {
            gap: 20px;
            margin: 2px 0 15px;
        }

        .project-tech i {
            font-size: 30px;
            margin: -10px 0;
        }
    }


    /* =========================
       CONTATO MOBILE
    ========================= */

    #contact h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 150px;
    }

    .card.active {
        transform: translate(-50%, -50%) scale(1);
        z-index: 5;
        opacity: 1;
    }

    .card.next {
        transform: translate(calc(-50% + 145px), -50%) scale(.78) rotateY(-28deg);
        opacity: .55;
        z-index: 4;
    }

    .card.prev {
        transform: translate(calc(-50% - 145px), -50%) scale(.78) rotateY(28deg);
        opacity: .55;
        z-index: 4;
    }

    .card.hide {
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(.5);
    }

    .controls {
        margin-top: 18px;
        gap: 12px;
    }

    .controls button {
        padding: 10px 16px;
    }

    .socials {
        gap: 30px;
    }

    .socials a {
        width: 46px;
        height: 46px;
    }

    #contact h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 150px;
    }
}

/* =========================
   footer */
   /* ===========================
   RESPONSIVIDADE MOBILE
=========================== */

@media (max-width: 768px) {

    .rating {

        width: 90%;

        max-width: 350px;

        margin: 30px auto;

        padding: 20px;

        border-radius: 15px;
    }


    .rating h3 {

        font-size: 18px;

        margin-bottom: 15px;

        letter-spacing: 1px;
    }


    .stars {

        gap: 8px;

        margin: 15px 0;
    }


    .stars i {

        font-size: 28px;
    }


    .stars i:hover {

        transform: scale(1.1);
    }


    .rating p {

        font-size: 16px;

        margin-top: 10px;
    }


    #average {

        font-size: 22px;
    }


    #votes {

        font-size: 15px;
    }

}


/* Celulares menores */

@media (max-width: 400px) {

    .rating {

        width: 92%;

        padding: 18px;
    }


    .rating h3 {

        font-size: 16px;
    }


    .stars {

        gap: 5px;
    }


    .stars i {

        font-size: 24px;
    }


    .rating p {

        font-size: 14px;
    }

}